{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} | Journal APP</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ favicon }}" />
    {% block extra_css%}
    {% endblock extra_css%}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pe-icon-7-stroke.css' %}" />
    <!-- custom Css -->
    <link rel="stylesheet" id="app-css" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- colors -->
    <link href="{% static 'css/colors/amber.css' %}" rel="stylesheet" type="text/css" id="color-opt" />

</head>
<body data-bs-target=".navbar" data-bs-offset="110">
    <!-- light-dark mode button -->
    <a href="javascript: void(0);" id="mode" data-class="light" class="text-white rounded-end mode-btn" onclick="changeMode(event)">
        <i class="bx-spin mode-light" data-feather="sun"></i>
        <i class="mode-dark mx-auto" data-feather="moon"></i>
    </a>
    {% block navbar %}
        {% include "partials/navbar.html" %}
    {% endblock navbar %}

    {% block content %}{% endblock content %}

    {% block footer %}
        {% include "partials/footer.html" %}      
    {% endblock footer %}
    
    {% block extra_java_script %}{% endblock extra_java_script %}

    <!-- Javascript -->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>


    <!-- feather icon -->
    <script src="{% static 'js/feather.js'%}"></script>

    <!-- app js -->
    <script src="{% static 'js/app.js'%}"></script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>