{% extends "journal/general_app/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                            Dashboard
                        </h1>
                        <div class="page-header-subtitle">Example dashboard overview and content summary</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">
        <div class="row">
            <div class="col-xl-4 mb-4">
                <!-- Dashboard example card 1-->
                <a class="card lift h-100" href="#!">
                    <div class="card-body d-flex justify-content-center flex-column">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="me-3">
                                <i class="feather-xl text-primary mb-3" data-feather="package"></i>
                                <h5>Powerful Components</h5>
                                <div class="text-muted small">To create informative visual elements on your pages
                                </div>
                            </div>
                            <img src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/browser-stats.svg"
                                alt="..." style="width: 8rem" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 mb-4">
                <!-- Dashboard example card 2-->
                <a class="card lift h-100" href="#!">
                    <div class="card-body d-flex justify-content-center flex-column">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="me-3">
                                <i class="feather-xl text-secondary mb-3" data-feather="book"></i>
                                <h5>Documentation</h5>
                                <div class="text-muted small">To keep you on track when working with our toolkit
                                </div>
                            </div>
                            <img src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/processing.svg"
                                alt="..." style="width: 8rem" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 mb-4">
                <!-- Dashboard example card 3-->
                <a class="card lift h-100" href="#!">
                    <div class="card-body d-flex justify-content-center flex-column">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="me-3">
                                <i class="feather-xl text-green mb-3" data-feather="layout"></i>
                                <h5>Pages &amp; Layouts</h5>
                                <div class="text-muted small">To help get you started when building your new UI
                                </div>
                            </div>
                            <img src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/windows.svg" alt="..."
                                style="width: 8rem" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-8">
                <div class="card">
                    <div class="card-header">Registro del Diario de Campo</div>
                    <div class="card-body">
                        {{form.as_p}}
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="row">
                    <div class="col-xl-6 col-xxl-12">
                        <!-- Team members / people dashboard card example-->
                        <div class="card mb-4">
                            <div class="card-header">People</div>
                            <div class="card-body">
                                <!-- Item 1-->
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center flex-shrink-0 me-3">
                                        <div class="avatar avatar-xl me-3 bg-gray-200"><img class="avatar-img img-fluid"
                                                src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/profiles/profile-1.png"
                                                alt="" />
                                        </div>
                                        <div class="d-flex flex-column fw-bold">
                                            <a class="text-dark line-height-normal mb-1" href="#!">Sid Rooney</a>
                                            <div class="small text-muted line-height-normal">Position</div>
                                        </div>
                                    </div>
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                            id="dropdownPeople1" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i
                                                data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                            aria-labelledby="dropdownPeople1">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 2-->
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center flex-shrink-0 me-3">
                                        <div class="avatar avatar-xl me-3 bg-gray-200"><img class="avatar-img img-fluid"
                                                src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/profiles/profile-2.png"
                                                alt="" />
                                        </div>
                                        <div class="d-flex flex-column fw-bold">
                                            <a class="text-dark line-height-normal mb-1" href="#!">Keelan Garza</a>
                                            <div class="small text-muted line-height-normal">Position</div>
                                        </div>
                                    </div>
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                            id="dropdownPeople2" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i
                                                data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                            aria-labelledby="dropdownPeople2">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 3-->
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center flex-shrink-0 me-3">
                                        <div class="avatar avatar-xl me-3 bg-gray-200"><img class="avatar-img img-fluid"
                                                src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/profiles/profile-3.png"
                                                alt="" />
                                        </div>
                                        <div class="d-flex flex-column fw-bold">
                                            <a class="text-dark line-height-normal mb-1" href="#!">Kaia Smyth</a>
                                            <div class="small text-muted line-height-normal">Position</div>
                                        </div>
                                    </div>
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                            id="dropdownPeople3" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i
                                                data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                            aria-labelledby="dropdownPeople3">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 4-->
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center flex-shrink-0 me-3">
                                        <div class="avatar avatar-xl me-3 bg-gray-200"><img class="avatar-img img-fluid"
                                                src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/profiles/profile-4.png"
                                                alt="" />
                                        </div>
                                        <div class="d-flex flex-column fw-bold">
                                            <a class="text-dark line-height-normal mb-1" href="#!">Kerri Kearney</a>
                                            <div class="small text-muted line-height-normal">Position</div>
                                        </div>
                                    </div>
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                            id="dropdownPeople4" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i
                                                data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                            aria-labelledby="dropdownPeople4">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 5-->
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center flex-shrink-0 me-3">
                                        <div class="avatar avatar-xl me-3 bg-gray-200"><img class="avatar-img img-fluid"
                                                src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/profiles/profile-5.png"
                                                alt="" />
                                        </div>
                                        <div class="d-flex flex-column fw-bold">
                                            <a class="text-dark line-height-normal mb-1" href="#!">Georgina
                                                Findlay</a>
                                            <div class="small text-muted line-height-normal">Position</div>
                                        </div>
                                    </div>
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                            id="dropdownPeople5" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i
                                                data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                            aria-labelledby="dropdownPeople5">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item 6-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center flex-shrink-0 me-3">
                                        <div class="avatar avatar-xl me-3 bg-gray-200"><img class="avatar-img img-fluid"
                                                src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/profiles/profile-6.png"
                                                alt="" />
                                        </div>
                                        <div class="d-flex flex-column fw-bold">
                                            <a class="text-dark line-height-normal mb-1" href="#!">Wilf Ingram</a>
                                            <div class="small text-muted line-height-normal">Position</div>
                                        </div>
                                    </div>
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"
                                            id="dropdownPeople6" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i
                                                data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                            aria-labelledby="dropdownPeople6">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-xxl-12">
                        <!-- Project tracker card example-->
                        <div class="card card-header-actions mb-4">
                            <div class="card-header">
                                Projects
                                <a class="btn btn-sm btn-primary-soft text-primary" href="#!">Create New</a>
                            </div>
                            <div class="card-body">
                                <!-- Progress item 1-->
                                <div class="d-flex align-items-center justify-content-between small mb-1">
                                    <div class="fw-bold">Server Setup</div>
                                    <div class="small">25%</div>
                                </div>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- Progress item 2-->
                                <div class="d-flex align-items-center justify-content-between small mb-1">
                                    <div class="fw-bold">Database Migration</div>
                                    <div class="small">50%</div>
                                </div>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- Progress item 3-->
                                <div class="d-flex align-items-center justify-content-between small mb-1">
                                    <div class="fw-bold">Version Release</div>
                                    <div class="small">75%</div>
                                </div>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- Progress item 4-->
                                <div class="d-flex align-items-center justify-content-between small mb-1">
                                    <div class="fw-bold">Product Listings</div>
                                    <div class="small">100%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Illustration dashboard card example-->
                <div class="card">
                    <div class="card-body text-center p-5">
                        <img class="img-fluid mb-4"
                            src="{{url_base}}/static/assets/sb-admin-pro/img/illustrations/team-spirit.svg" alt=""
                            style="max-width: 16.25rem" />
                        <h5>Team Access</h5>
                        <p class="mb-4">Upgrade your plan to get access to team collaboration tools.</p>
                        <a class="btn btn-primary p-3" href="#!">Upgrade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}