<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-body">
                <p class="login-box-msg">Por favor ingresa el código de verificación que te llegó al correo</p>

                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Crear usuario</button>
                </form>

            </div>
        </div>
    </div>

    <script>
        document.getElementById('verfication_code_id').value = (new URL(window.location.href)).searchParams.get('code');
    </script>
</body>

</html>