<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>

<script src="{{url_base}}/static/js/sb-admin-pro/scripts.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>

<script src="{{url_base}}/static/assets/sb-admin-pro/demo/chart-area-demo.js"></script>

<script src="{{url_base}}/static/assets/sb-admin-pro/demo/chart-pie-demo.js"></script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

<script src="{{url_base}}/static/js/sb-admin-pro/datatables/datatables-simple-demo.js"></script>