<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-dark">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <!-- Sidenav Menu Heading (Notifications)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <div class="sidenav-menu-heading">Notificaciones</div>
                <!-- Sidenav Link (Alerts)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link" href="#">
                    <div class="nav-link-icon"><i data-feather="bell"></i></div>
                    Alertas
                    <span class="badge bg-warning-soft text-warning ms-auto">4 Nuevas</span>
                </a>
                <!-- Sidenav Link (Messages)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link" href="#">
                    <div class="nav-link-icon"><i data-feather="mail"></i></div>
                    Mensajes
                    <span class="badge bg-success-soft text-success ms-auto">2 Nuevos</span>
                </a>

                <!-- Sidenav Heading (Register)-->
                <div class="sidenav-menu-heading">Registro</div>
                <!-- Sidenav Accordion (Register -> Journal)-->
                <a class="nav-link" href="#">
                    <div class="nav-link-icon"><i data-feather="grid"></i></div>
                    Diario de campo
                </a>

                <!-- Sidenav Accordion (Register -> )-->
                <a class="nav-link" href="#">
                    <div class="nav-link-icon"><i data-feather="archive"></i></div>
                    Archivo diarios de campo
                </a>

                <!-- Sidenav Accordion (Register -> Calendar)-->
                <a class="nav-link" href="#">
                    <div class="nav-link-icon"><i data-feather="calendar"></i></div>
                    Calendario
                </a>

                <!-- Sidenav Menu Heading (Core)-->
                <div class="sidenav-menu-heading">Estadísticas</div>
                <!-- Sidenav Accordion (Core -> Dashboard)-->
                <a class="nav-link" href="#">
                    <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                    Tablero
                </a>

                {% if user.is_superuser %}
                <!-- Sidenav Heading (System)-->
                <div class="sidenav-menu-heading">Configuración</div>
                <!-- Sidenav Accordion (System)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                    data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="nav-link-icon"><i data-feather="tool"></i></div>
                    Sistema
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavLayout">
                        <!-- Sidenav Accordion (System -> Force register user)-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" aria-expanded="false">
                            Registrar Usuario
                        </a>

                        <!-- Sidenav Accordion (System -> UsersList)-->
                        <a class="nav-link collapsed" href="{% url 'admin:index' %}">
                            Lista de Usuarios
                        </a>

                        <!-- Sidenav Accordion (System -> Django Admin Site)-->
                        <a class="nav-link collapsed" href="{% url 'admin:index' %}">
                            Administrador de Django
                        </a>

                        <!-- Sidenav Accordion (System -> FrontEnd Version)-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" aria-expanded="false">
                            Versión del FrontEnd
                        </a>

                        <!-- Sidenav Accordion (System -> BackEnd Version)-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" aria-expanded="false">
                            Versión del BackEnd
                        </a>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Usuario:</div>
                <div class="sidenav-footer-title">
                    {% if user.is_authenticated and full_name%}
                    {{full_name}}
                    {% else %}
                    {{user.username}}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>