<form method="post">
    {% csrf_token %}
    <div class="row">
        {% if form.errors %}
        <div class="col-12">
            {{ form.password.errors }}
            {{ form.new_password.errors }}
            {{ form.confirm_password.errors }}
        </div>
        {% endif %}

        <div class="input-group col-12 mb-3">
            {{ form.password }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <div class="input-group col-12 mb-3">
            {{ form.new_password}}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <div class="input-group col-12 mb-3">
            {{ form.confirm_password}}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>


        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Cambiar Contraseña</button>
        </div>
    </div>
</form>